# General
*.pyc
__pycache__/

# Secrets and local configurations
.env
tup-id-verification-firebase-adminsdk-fbsvc-4955cf9d09.json

# Python virtual environment (if you are using one)
.venv/
venv/
env/

# FAISS data and other potentially large files
embeddings/

# Other
*.log